# Graph measures

- Closeness
- Graph diameter
- Average path length
- In-out degree

Graph measures were added in MADlib 1.12.  Some graph measures require a valid output from a prior APSP run - both the APSP table and the associated output summary table must be present.

In [1]:
%load_ext sql

In [2]:
# Greenplum Database 5.x on GCP - via tunnel
%sql postgresql://gpadmin@localhost:8000/madlib
        
# PostgreSQL local
#%sql postgresql://fmcquillan@localhost:5432/madlib

In [3]:
%sql select madlib.version();
#%sql select version();

1 rows affected.

[(u'MADlib version: 1.18.0, git revision: rel/v1.17.0-102-g42d51bc, cmake configuration time: Sun Apr 18 20:26:28 UTC 2021, build type: release, build system: Linux-3.10.0-1160.24.1.el7.x86_64, C compiler: gcc 4.8.5, C++ compiler: g++ 4.8.5',)]

# Closeness

# 1.  Create vertex and edge tables

In [4]:
%%sql 
DROP TABLE IF EXISTS vertex, edge;

CREATE TABLE vertex(
        id INTEGER,
        name TEXT
        );

CREATE TABLE edge(
        src_id INTEGER,
        dest_id INTEGER,
        edge_weight FLOAT8
        );

INSERT INTO vertex VALUES
(0, 'A'),
(1, 'B'),
(2, 'C'),
(3, 'D'),
(4, 'E'),
(5, 'F'),
(6, 'G'),
(7, 'H');

INSERT INTO edge VALUES
(0, 1, 1.0),
(0, 2, 1.0),
(0, 4, 10.0),
(1, 2, 2.0),
(1, 3, 10.0),
(2, 3, 1.0),
(2, 5, 1.0),
(2, 6, 3.0),
(3, 0, 1.0),
(4, 0, -2.0),
(5, 6, 1.0),
(6, 7, 1.0);

SELECT * FROM edge ORDER BY src_id, dest_id;

Done.
Done.
Done.
8 rows affected.
12 rows affected.
12 rows affected.

[(0, 1, 1.0),
 (0, 2, 1.0),
 (0, 4, 10.0),
 (1, 2, 2.0),
 (1, 3, 10.0),
 (2, 3, 1.0),
 (2, 5, 1.0),
 (2, 6, 3.0),
 (3, 0, 1.0),
 (4, 0, -2.0),
 (5, 6, 1.0),
 (6, 7, 1.0)]

# 2.  Calculate APSP

In [5]:
%%sql
DROP TABLE IF EXISTS out_apsp, out_apsp_summary;

SELECT madlib.graph_apsp('vertex',      -- Vertex table
                         'id',          -- Vertix id column (NULL means use default naming)
                         'edge',        -- Edge table
                         'src=src_id, dest=dest_id, weight=edge_weight',
                                        -- Edge arguments (NULL means use default naming)
                         'out_apsp');   -- Output table of shortest paths

SELECT * FROM out_apsp ORDER BY src_id, dest_id;

Done.
1 rows affected.
46 rows affected.

[(0, 0, 0.0, 0),
 (0, 1, 1.0, 1),
 (0, 2, 1.0, 2),
 (0, 3, 2.0, 2),
 (0, 4, 10.0, 4),
 (0, 5, 2.0, 2),
 (0, 6, 3.0, 5),
 (0, 7, 4.0, 6),
 (1, 0, 4.0, 3),
 (1, 1, 0.0, 1),
 (1, 2, 2.0, 2),
 (1, 3, 3.0, 2),
 (1, 4, 14.0, 0),
 (1, 5, 3.0, 2),
 (1, 6, 4.0, 5),
 (1, 7, 5.0, 6),
 (2, 0, 2.0, 3),
 (2, 1, 3.0, 0),
 (2, 2, 0.0, 2),
 (2, 3, 1.0, 3),
 (2, 4, 12.0, 0),
 (2, 5, 1.0, 5),
 (2, 6, 2.0, 5),
 (2, 7, 3.0, 6),
 (3, 0, 1.0, 0),
 (3, 1, 2.0, 0),
 (3, 2, 2.0, 0),
 (3, 3, 0.0, 3),
 (3, 4, 11.0, 0),
 (3, 5, 3.0, 2),
 (3, 6, 4.0, 5),
 (3, 7, 5.0, 6),
 (4, 0, -2.0, 0),
 (4, 1, -1.0, 0),
 (4, 2, -1.0, 0),
 (4, 3, 0.0, 2),
 (4, 4, 0.0, 4),
 (4, 5, 0.0, 2),
 (4, 6, 1.0, 5),
 (4, 7, 2.0, 6),
 (5, 5, 0.0, 5),
 (5, 6, 1.0, 6),
 (5, 7, 2.0, 6),
 (6, 6, 0.0, 6),
 (6, 7, 1.0, 7),
 (7, 7, 0.0, 7)]

# 3.  Compute the closeness measure for all nodes

In [6]:
%%sql
DROP TABLE IF EXISTS out_closeness;
SELECT madlib.graph_closeness('out_apsp', 'out_closeness');
SELECT * FROM out_closeness ORDER BY src_id;

Done.
1 rows affected.
8 rows affected.

[(0, 0.0434782608695652, 0.304347826086957, 3.68333333333333, 7L),
 (1, 0.0285714285714286, 0.2, 1.93809523809524, 7L),
 (2, 0.0416666666666667, 0.291666666666667, 3.75, 7L),
 (3, 0.0357142857142857, 0.25, 2.87424242424242, 7L),
 (4, -1.0, -7.0, -1.0, 7L),
 (5, 0.333333333333333, 0.666666666666667, 1.5, 2L),
 (6, 1.0, 1.0, 1.0, 1L),
 (7, None, None, 0.0, 0L)]

# 4.  Create a graph with 2 groups

In [7]:
%%sql 
DROP TABLE IF EXISTS edge_gr;

CREATE TABLE edge_gr AS
(
  SELECT *, 0 AS grp FROM edge
  UNION
  SELECT *, 1 AS grp FROM edge WHERE src_id < 6 AND dest_id < 6
);

INSERT INTO edge_gr VALUES
(4,5,-20,1);

SELECT * FROM edge_gr ORDER BY grp, src_id, dest_id;

Done.
21 rows affected.
1 rows affected.
22 rows affected.

[(0, 1, 1.0, 0),
 (0, 2, 1.0, 0),
 (0, 4, 10.0, 0),
 (1, 2, 2.0, 0),
 (1, 3, 10.0, 0),
 (2, 3, 1.0, 0),
 (2, 5, 1.0, 0),
 (2, 6, 3.0, 0),
 (3, 0, 1.0, 0),
 (4, 0, -2.0, 0),
 (5, 6, 1.0, 0),
 (6, 7, 1.0, 0),
 (0, 1, 1.0, 1),
 (0, 2, 1.0, 1),
 (0, 4, 10.0, 1),
 (1, 2, 2.0, 1),
 (1, 3, 10.0, 1),
 (2, 3, 1.0, 1),
 (2, 5, 1.0, 1),
 (3, 0, 1.0, 1),
 (4, 0, -2.0, 1),
 (4, 5, -20.0, 1)]

# 5.  Find APSP for all groups

In [8]:
%%sql
DROP TABLE IF EXISTS out_gr, out_gr_summary;

SELECT madlib.graph_apsp(
                         'vertex',      -- Vertex table
                         NULL,          -- Vertex id column (NULL means use default naming)
                         'edge_gr',     -- Edge table
                         'src=src_id, dest=dest_id, weight=edge_weight',
                         'out_gr',      -- Output table of shortest paths
                         'grp'          -- Grouping columns
);

SELECT * FROM out_gr ORDER BY grp, src_id, dest_id;

Done.
1 rows affected.
77 rows affected.

[(0, 0, 0, 0.0, 0),
 (0, 0, 1, 1.0, 1),
 (0, 0, 2, 1.0, 2),
 (0, 0, 3, 2.0, 2),
 (0, 0, 4, 10.0, 4),
 (0, 0, 5, 2.0, 2),
 (0, 0, 6, 3.0, 5),
 (0, 0, 7, 4.0, 6),
 (0, 1, 0, 4.0, 3),
 (0, 1, 1, 0.0, 1),
 (0, 1, 2, 2.0, 2),
 (0, 1, 3, 3.0, 2),
 (0, 1, 4, 14.0, 0),
 (0, 1, 5, 3.0, 2),
 (0, 1, 6, 4.0, 5),
 (0, 1, 7, 5.0, 6),
 (0, 2, 0, 2.0, 3),
 (0, 2, 1, 3.0, 0),
 (0, 2, 2, 0.0, 2),
 (0, 2, 3, 1.0, 3),
 (0, 2, 4, 12.0, 0),
 (0, 2, 5, 1.0, 5),
 (0, 2, 6, 2.0, 5),
 (0, 2, 7, 3.0, 6),
 (0, 3, 0, 1.0, 0),
 (0, 3, 1, 2.0, 0),
 (0, 3, 2, 2.0, 0),
 (0, 3, 3, 0.0, 3),
 (0, 3, 4, 11.0, 0),
 (0, 3, 5, 3.0, 2),
 (0, 3, 6, 4.0, 5),
 (0, 3, 7, 5.0, 6),
 (0, 4, 0, -2.0, 0),
 (0, 4, 1, -1.0, 0),
 (0, 4, 2, -1.0, 0),
 (0, 4, 3, 0.0, 2),
 (0, 4, 4, 0.0, 4),
 (0, 4, 5, 0.0, 2),
 (0, 4, 6, 1.0, 5),
 (0, 4, 7, 2.0, 6),
 (0, 5, 5, 0.0, 5),
 (0, 5, 6, 1.0, 6),
 (0, 5, 7, 2.0, 6),
 (0, 6, 6, 0.0, 6),
 (0, 6, 7, 1.0, 7),
 (0, 7, 7, 0.0, 7),
 (1, 0, 0, 0.0, 0),
 (1, 0, 1, 1.0, 1),
 (1, 0, 2, 1.0, 2),
 (1, 0, 3, 2.0, 2),
 (1, 0, 4, 10.0, 4),
 (1, 0, 5, -10.0, 4),
 (1, 1, 0, 4.0, 3),
 (1, 1, 1, 0.0, 1),
 (1, 1, 2, 2.0, 2),
 (1, 1, 3, 3.0, 2),
 (1, 1, 4, 14.0, 0),
 (1, 1, 5, -6.0, 4),
 (1, 2, 0, 2.0, 3),
 (1, 2, 1, 3.0, 0),
 (1, 2, 2, 0.0, 2),
 (1, 2, 3, 1.0, 3),
 (1, 2, 4, 12.0, 0),
 (1, 2, 5, -8.0, 4),
 (1, 3, 0, 1.0, 0),
 (1, 3, 1, 2.0, 0),
 (1, 3, 2, 2.0, 0),
 (1, 3, 3, 0.0, 3),
 (1, 3, 4, 11.0, 0),
 (1, 3, 5, -9.0, 4),
 (1, 4, 0, -2.0, 0),
 (1, 4, 1, -1.0, 0),
 (1, 4, 2, -1.0, 0),
 (1, 4, 3, 0.0, 2),
 (1, 4, 4, 0.0, 4),
 (1, 4, 5, -20.0, 5),
 (1, 5, 5, 0.0, 5)]

# 6. Compute closeness measure for vertex 0 to vertex 5 in every group

In [9]:
%%sql
DROP TABLE IF EXISTS out_gr_closeness;

SELECT madlib.graph_closeness(
    'out_gr', 
    'out_gr_closeness', 
    'src_id >= 0 and src_id <=5');

SELECT * FROM out_gr_closeness ORDER BY grp, src_id;

Done.
1 rows affected.
12 rows affected.

[(0, 0, 0.0434782608695652, 0.304347826086957, 3.68333333333333, 7L),
 (0, 1, 0.0285714285714286, 0.2, 1.93809523809524, 7L),
 (0, 2, 0.0416666666666667, 0.291666666666667, 3.75, 7L),
 (0, 3, 0.0357142857142857, 0.25, 2.87424242424242, 7L),
 (0, 4, -1.0, -7.0, -1.0, 7L),
 (0, 5, 0.333333333333333, 0.666666666666667, 1.5, 2L),
 (1, 0, 0.25, 1.25, 2.5, 5L),
 (1, 1, 0.0588235294117647, 0.294117647058824, 0.988095238095238, 5L),
 (1, 2, 0.1, 0.5, 1.79166666666667, 5L),
 (1, 3, 0.142857142857143, 0.714285714285714, 1.97979797979798, 5L),
 (1, 4, -0.0416666666666667, -0.208333333333333, -2.55, 5L),
 (1, 5, None, None, 0.0, 0L)]

#  Graph Diameter
Use the same graph and APSP output from above.

In [10]:
%%sql
DROP TABLE IF EXISTS out_diameter;
SELECT madlib.graph_diameter('out_apsp', 'out_diameter');
SELECT * FROM out_diameter;

Done.
1 rows affected.
1 rows affected.

[(14.0, [[1L, 4L]])]

For grouping, use the same graph and APSP output with grouping from above.

In [11]:
%%sql
DROP TABLE IF EXISTS out_gr_path;
SELECT madlib.graph_diameter('out_gr', 'out_gr_diameter');
SELECT * FROM out_gr_diameter ORDER BY grp;

Done.
1 rows affected.
2 rows affected.

[(0, 14.0, [[1L, 4L]]), (1, 14.0, [[1L, 4L]])]

#  Average Path Length
Use the same graph and APSP output from above.

In [12]:
%%sql
DROP TABLE IF EXISTS out_avg_path_length;
SELECT madlib.graph_avg_path_length('out_apsp', 'out_avg_path_length');
SELECT * FROM out_avg_path_length;

Done.
1 rows affected.
1 rows affected.

[(2.97368421052632,)]

For grouping, use the same graph and APSP output with grouping from above.

In [13]:
%%sql
DROP TABLE IF EXISTS out_gr_path;
SELECT madlib.graph_avg_path_length('out_gr', 'out_gr_path');
SELECT * FROM out_gr_path ORDER BY grp;

Done.
1 rows affected.
2 rows affected.

[(0, 2.97368421052632), (1, 0.56)]

#  In-Out Degree
Use the same graph and APSP output from above.

In [14]:
%%sql
DROP TABLE IF EXISTS degrees;

SELECT madlib.graph_vertex_degrees(
    'vertex',      -- Vertex table
    'id',          -- Vertix id column (NULL means use default naming)
    'edge',        -- Edge table
    'src=src_id, dest=dest_id, weight=edge_weight',
    'degrees');    -- Output table of shortest paths

SELECT * FROM degrees ORDER BY id;

Done.
1 rows affected.
8 rows affected.

[(0, 2L, 3L),
 (1, 1L, 2L),
 (2, 2L, 3L),
 (3, 2L, 1L),
 (4, 1L, 1L),
 (5, 1L, 1L),
 (6, 2L, 1L),
 (7, 1L, 0L)]

For grouping, use the same graph with grouping from above.

In [15]:
%%sql 
DROP TABLE IF EXISTS out_gr;

SELECT madlib.graph_vertex_degrees(
    'vertex',      -- Vertex table
    NULL,          -- Vertex id column (NULL means use default naming)
    'edge_gr',     -- Edge table
    'src=src_id, dest=dest_id, weight=edge_weight',
    'out_gr',      -- Output table of shortest paths
    'grp'          -- Grouping columns
);

SELECT * FROM out_gr WHERE id < 2 ORDER BY grp, id;

Done.
1 rows affected.
4 rows affected.

[(0, 0, 2L, 3L), (0, 1, 1L, 2L), (1, 0, 2L, 3L), (1, 1, 1L, 2L)]